<%- include('../layouts/admin/head', { title: '首页' }); %>
    <div class="jumbotron">
        <div class="container">
            <h1>新的一天开始了</h1>
            <p>键盘敲烂，薪资过万</p>
            <p><a class="btn btn-primary btn-lg" href="/admin/article_add" role="button">我要发布新文章！</a></p>
        </div>
    </div>
    <%- include('../layouts/admin/foot'); %>