<%- include('../layouts/admin/head', { title: '查看文章' }); %>
<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>标题</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table> 
</div>
<script>
      $.ajax({
            url: '/api/article',
            type: 'get',
            success(res) {
                _render(res.data)
            }
        })

        $('body').on('click', '.btn-danger', function () {
            deleteRequest(`/api/article/${this.id}`)
            .then(data => {
                alert('删除成功')
                location.reload();
            })
        })

        function deleteRequest(url) {
            return $.ajax({
                url,
                type: 'DELETE'
            })
        }

        function _render(list) {
            list.forEach(item => {
                $('tbody').append(`
                    <tr>
                        <td>${item.title}</td>
                        <td>
                            <button id="${item._id}" class="btn btn-danger">删除</button>
                        </td>
                    </tr>
            `)
            })
        }
</script>