<link rel="stylesheet" href="/layui/css/layui.css">
<br>
<div class="layui-col-md3">
    <form class="layui-form" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">用户名</label>
            <div class="layui-input-block">
                <input id="username" type="text" name="username" required lay-verify="required" placeholder="请输入用户名"
                    autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">密码</label>
            <div class="layui-input-block">
                <input id="password" type="password" name="password" required lay-verify="required" placeholder="请输入密码"
                    autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button id="btn" class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>
<script src="/jquery/jquery.js"></script>
<script>
    $('#btn').click((e) => {
        e.preventDefault();
        $.ajax({
            url: '/api/login',
            type: 'post',
            data: {
                username: $('#username').val(),
                password: $('#password').val()
            },
            success(res) {
                console.log(res);
            }
        })
    })
</script>