<div class="layui-layout layui-layout-admin clearfix">
    <div class="layui-header">
        <div class="layui-logo"><a href="/">Blog</a></div>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item"><a href="/login">登录</a></li>
            <li class="layui-nav-item"><a href="/register">注册</a></li>
        </ul>
    </div>
</div>
<style>
    .layui-logo a {
        color: inherit;
    }

    .layui-container {
        padding-top: 120px;
    }
</style>