<div class="layui-layout layui-layout-admin clearfix">
    <div class="layui-header">
        <div class="layui-logo">Blog</div>
        <!-- 头部区域（可配合layui 已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="">nav 1</a></li>
            <li class="layui-nav-item"><a href="">nav 2</a></li>
            <li class="layui-nav-item"><a href="">nav 3</a></li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item"><a href="/login">登录</a></li>
            <li class="layui-nav-item"><a href="/register">注册</a></li>
        </ul>
    </div>
</div>