<script>
    $('#logout').click(() =>{
        $.ajax({
            url: '/api/logout',
            success(){
                location.reload()
            }
        })
    })
</script>
</body>
</html>